.hero {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .hero-left {
        h1 {
            margin-bottom: 0;
            text-align: left;
            font-size: 58px;
            color: #fce015;
        }

        p {
            text-align: left;

            span {
                color: #fce015;
            }
        }

        button {
            margin: 0;
        }
    }

    @media (max-width: 1324px) {
        grid-template-columns: repeat(1, 1fr);

        h1 {
            text-align: center !important;
        }

        p {
            text-align: center !important;
        }

        .hero-left {
            margin: 0 auto;

            button {
                margin: 30px auto 0 auto;
            }
        }

        .hero-right {
            display: none;
        }
    }
}