.btn-link {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #FCE015;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    color: #FCE015;

    &:hover {
        border: 1px solid #fff;
        color: #fff;
        transition: ease-in-out 0.3s;
    }
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.cards-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.card-container {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}